<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop Item - Start Bootstrap Template</title>

        <!-- Bootstrap Core CSS -->
    <link href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")" rel="stylesheet">

        <!-- Custom CSS -->
    <link href="@routes.Assets.versioned("stylesheets/shop-item.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/simple-sidebar.css")" rel="stylesheet">
    <link href="@routes.Assets.versioned("stylesheets/search.css")" rel="stylesheet">


</head>

<body>

	
    <!-- Navigation -->
     <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    				
	<div class="row">
		<div class="col-md-12">
        <div class="search">
<input type="text" class="form-control input-sm" maxlength="64" placeholder="Search" />
 <button type="submit" class="btn-primary">Search</button>
</div>
	</div>
	</div>

                </li>
                <li>
                    <a href="@routes.HomeController.index()">Home</a>
                </li>
                <li>
                    <a href="@routes.HomeController.products()">Products</a>
                </li>
                <li>
                    <a href="@routes.HomeController.services()">Services</a>
                </li>
                <li>
                    <a href="@routes.HomeController.shopping_cart()">Shopping cart</a>
                </li>
                <li>
                    <a href="@routes.HomeController.about()">About</a>
                </li>
                
            </ul>
        </div>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            

            <div class="col-md-12">

                <div class="thumbnail">
                    <img class="img-responsive" src="https://www.district196.org/evhs/academics/Multimedia/students1011/SeanD/homepage.png" alt="">
                    
					
	
					<div class="caption-full">
                        <h4 class="pull-right"></h4>
                        <h4><a href="#">Website Draft</a>
                        </h4>
                        <p>This is Luke, Tudor and Daniellas Draft of the CA2 project using the template from <a target="_blank" href="https://startbootstrap.com/template-overviews/shop-item/">startbootstrap.com</a>.</p>
                        <p>Want to make these reviews work? Check out
                            <strong><a href="http://maxoffsky.com/code-blog/laravel-shop-tutorial-1-building-a-review-system/">this building a review system tutorial</a>
                            </strong>over at maxoffsky.com!</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
                    </div>
                    <div class="ratings">
                        <p class="pull-right">3909090900909090 reviews</p>
                        <p>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            <span class="glyphicon glyphicon-star"></span>
                            5.0 Stars Best business EU
                        </p>
                    </div>
                </div>

              <div class="container">
  <h2>Give us info on your PC</h2>
  
  
  
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="NameIn">Full Name</label>
    <input type="Name" class="form-control" id="NameIn" placeholder="Full Name">
  </div>
  <div class="form-group">
    <label for="ProblemSelection">Problem with your PC</label>
    <select class="form-control" id="exampleSelect1">
      <option>Choose an option</option>
	  <option>Virus</option>
      <option>Not booting</option>
      <option>Windows crashes</option>
      <option>Application problems</option>
      <option>Other/Unknown</option>
    </select>
  </div>
  
  <div class="form-group">
    <label for="FurtherInfo">Provide further info on your problem</label>
    <textarea class="form-control" id="FurtherInfo" rows="3"></textarea>
  </div>
  
  
  
  <button type="submit" class="btn btn-default">Submit</button>
</form>




</div>

        </div>

    </div>
    <!-- /.container -->

    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Your Website 2014</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
